##### General Notes
- Dataset consists of 240 starts

##### Star Types
1. Brown Dwarf      -> 0
1. Red Dwarf        -> 1
1. White Dwarf      -> 2
1. Main Sequence    -> 3
1. Supergiant Dwarf -> 4
1. Hypergiant       -> 5

In [20]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [21]:
data_file = "C:/Users/Josh/Desktop/My_Docs/Kaggle/Datasets/space/6 class.csv"
star_df = pd.read_csv(data_file)

In [22]:
star_df.head(10)

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,3068,0.002400,0.1700,16.12,0,Red,M
1,3042,0.000500,0.1542,16.60,0,Red,M
2,2600,0.000300,0.1020,18.70,0,Red,M
3,2800,0.000200,0.1600,16.65,0,Red,M
4,1939,0.000138,0.1030,20.06,0,Red,M
5,2840,0.000650,0.1100,16.98,0,Red,M
6,2637,0.000730,0.1270,17.22,0,Red,M
7,2600,0.000400,0.0960,17.40,0,Red,M
8,2650,0.000690,0.1100,17.45,0,Red,M
9,2700,0.000180,0.1300,16.05,0,Red,M

In [37]:
star_df.min(0)

Temperature (K)              1939
Luminosity(L/Lo)          0.00008
Radius(R/Ro)               0.0084
Absolute magnitude(Mv)     -11.92
Star type                       0
Star color                   Blue
Spectral Class                  A
dtype: object